/* Local font-face declarations for Source Sans 3 (Variable). 
   Place the following files in apps/client/public/fonts/:
   - SourceSans3-VariableFont_wght.woff2
   - SourceSans3-Italic-VariableFont_wght.woff2
*/

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 200 900;
  font-display: swap;
  src: url("/fonts/SourceSans3-VariableFont_wght.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 200 900;
  font-display: swap;
  src: url("/fonts/SourceSans3-Italic-VariableFont_wght.woff2") format("woff2-variations");
}
